parameters:
    excludes_analyse:
        - %rootDir%/../../../src/Common/Migrations/*
        - %rootDir%/../../../tests/_*
    ignoreErrors:
        - '#^Access to an undefined property Symfony\\Component\\Validator\\Constraint::\$message\.$#'